body {
  margin: 0;
  padding: 0;
  transition: 0.1s;
  font-weight: 400;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  background-color: black;
  transition: 0.1s;
  color: white;
}
.hidden {
  display: none !important;
}
.success {
  box-shadow: 0px 0px 10px purple;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.header-container {
  margin-right: 1rem;
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: bolder;
  color: #aaa;
}

.header-container:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header-container.right {
  margin-left: auto;
}
h1,
h2,
h3 {
  margin: 0;
}

#rules {
  z-index: 1;
  width: 60vw;
  height: 60vh;
}

#about {
}

#title {
  font-size: 2.5rem;
  letter-spacing: -0.25rem;
  color: hsl(40, 75%, 50%);
  font-weight: 900;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Libre Caslon Text", serif;
}

.switch {
  position: relative;
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  transition: 0.1s;
  background-color: hsl(200, 2%, 75%);
  box-shadow: inset 1px 1px 10px black, 0px 0px 1px black;
}

.switchOn {
  transition: 0.1s;
  background-color: hsl(200, 75%, 85%);
}
.circle {
  position: absolute;
  border-radius: 50%;
  background-color: hsl(200, 100%, 2%);
  width: 28px;
  height: 28px;
  left: 2px;
  transition: 0.1s;
}

.circleOn {
  position: absolute;
  left: 30px;
  transition: 0.1s;
}

#play-area {
  position: relative;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: 100px;
  max-width: 950px;
}

#message-container {
  height: 20px;
  display: flex;
  justify-content: center;
}

#active-dice-container,
.selected-dice-group {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 0.5rem;
}
.selected-dice-group {
  display: flex;
}

.dice.selected {
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 2.5px;
}

.dice.selected > .row > .dot {
  height: 10px;
  width: 10px;
  box-shadow: inset 2.5px 2.5px 5px black;
}

button {
  margin: 1rem;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 3px 0px;
  background-color: hsl(200, 50%, 95%);
  background-color: hsl(40, 75%, 50%);
  color: white;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 3px 0px, 0px 3px 3px;
}

input {
  margin: 1rem;
  padding: 0.75rem 0.75rem;
  font-size: 1.25rem;
  border-radius: 10px;
  border: none;
  background-color: hsl(200, 50%, 95%);
}

input[type="number"] {
  width: 50px;
}

input:focus {
  outline: none;
  border: none;
}

input:hover {
  box-shadow: 0px 3px 0px, 0px 3px 3px;
}

.modal {
  padding: 3rem;
  font-size: 1.5rem;
  border-radius: 25px;
  box-shadow: 0px 10px 30px;
  background-color: hsl(40, 75%, 50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: start;
}

#win-container {
  width: 50vh;
  height: 50vh;
  justify-content: center;
}

#start-wrapper > button {
  background-color: rgb(79, 93, 170);
  color: white;
  width: 100%;
  box-shadow: none !important;
  margin-left: 0;
  box-shadow: none;
}

.name-input-container {
  padding-right: 0;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.name-input-container > input {
  margin: 0;
  margin-bottom: 10px;
}

.name-input-container > div {
  margin-bottom: 10px;
}

.name-input-container > input:hover {
  box-shadow: none !important;
}

.btn-delete {
  background-color: maroon;
  border-radius: 0 10px 10px 0;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-delete:hover {
  cursor: pointer;
}

.input-added {
  border-radius: 10px 0px 0px 10px;
}

.name-input-container > button:hover {
  box-shadow: none;
}

.text {
  font-size: 2rem;
  font-style: italic;
  color: hsl(200, 50%, 95%);
}

#btn-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 100px;
}

.dice {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: beige;
  box-shadow: 3px 3px black;
  /* transition: 0.5s; */
}

.bonus {
  background-color: hsl(40, 75%, 50%);
}

.dice:hover {
  box-shadow: 3px 3px black, 3px 3px 3px black;
  transition: 0s;
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.dot {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: inset 5px 5px 10px black;
  background-color: hsl(200, 0%, 50%);
}

/* Dice 1 */

.dot-top-left.dice-1 {
  visibility: hidden;
}
.dot-top-middle.dice-1 {
  visibility: hidden;
}
.dot-top-right.dice-1 {
  visibility: hidden;
}
.dot-middle-left.dice-1 {
  visibility: hidden;
}
.dot-middle-middle.dice-1 {
  display: block;
  transition: 0.1s;
}
.dot-middle-right.dice-1 {
  visibility: hidden;
}
.dot-bottom-left.dice-1 {
  visibility: hidden;
}
.dot-bottom-middle.dice-1 {
  visibility: hidden;
}
.dot-bottom-right.dice-1 {
  visibility: hidden;
}

/* dice 2 */

.dot-top-left.dice-2 {
  display: block;
  transition: 0.1s;
}
.dot-top-middle.dice-2 {
  visibility: hidden;
}
.dot-top-right.dice-2 {
  visibility: hidden;
}
.dot-middle-left.dice-2 {
  visibility: hidden;
}
.dot-middle-middle.dice-2 {
  visibility: hidden;
}
.dot-middle-right.dice-2 {
  visibility: hidden;
}
.dot-bottom-left.dice-2 {
  visibility: hidden;
}
.dot-bottom-middle.dice-2 {
  visibility: hidden;
}
.dot-bottom-right.dice-2 {
  display: block;
  transition: 0.1s;
}

/* dice 3 */

.dot-top-left.dice-3 {
  display: block;
  transition: 0.1s;
}
.dot-top-middle.dice-3 {
  visibility: hidden;
}
.dot-top-right.dice-3 {
  visibility: hidden;
}
.dot-middle-left.dice-3 {
  visibility: hidden;
}
.dot-middle-left.dice-3 {
  display: block;
  transition: 0.1s;
}
.dot-middle-right.dice-3 {
  visibility: hidden;
}
.dot-bottom-left.dice-3 {
  visibility: hidden;
}
.dot-bottom-middle.dice-3 {
  visibility: hidden;
}
.dot-bottom-right.dice-3 {
  display: block;
  transition: 0.1s;
}

/* dice 4 */

.dot-top-left.dice-4 {
  display: block;
  transition: 0.1s;
}
.dot-top-middle.dice-4 {
  visibility: hidden;
}
.dot-top-right.dice-4 {
  display: block;
  transition: 0.1s;
}
.dot-middle-left.dice-4 {
  visibility: hidden;
}
.dot-middle-middle.dice-4 {
  visibility: hidden;
}
.dot-middle-right.dice-4 {
  visibility: hidden;
}
.dot-bottom-left.dice-4 {
  display: block;
  transition: 0.1s;
}
.dot-bottom-middle.dice-4 {
  visibility: hidden;
}
.dot-bottom-right.dice-4 {
  display: block;
  transition: 0.1s;
}

/* dice 5 */

.dot-top-left.dice-5 {
  display: block;
  transition: 0.1s;
}
.dot-top-middle.dice-5 {
  visibility: hidden;
}
.dot-top-right.dice-5 {
  display: block;
  transition: 0.1s;
}
.dot-middle-left.dice-5 {
  visibility: hidden;
}
.dot-middle-middle.dice-5 {
  display: block;
  transition: 0.1s;
}
.dot-middle-right.dice-5 {
  visibility: hidden;
}
.dot-bottom-left.dice-5 {
  display: block;
  transition: 0.1s;
}
.dot-bottom-middle.dice-5 {
  visibility: hidden;
}
.dot-bottom-right.dice-5 {
  display: block;
  transition: 0.1s;
}

/* dice 6 */

.dot-top-left.dice-6 {
  display: block;
  transition: 0.1s;
}
.dot-top-middle.dice-6 {
  visibility: hidden;
}
.dot-top-right.dice-6 {
  display: block;
  transition: 0.1s;
}
.dot-middle-left.dice-6 {
  display: block;
  transition: 0.1s;
}
.dot-middle-middle.dice-6 {
  visibility: hidden;
}
.dot-middle-right.dice-6 {
  display: block;
  transition: 0.1s;
}
.dot-bottom-left.dice-6 {
  display: block;
  transition: 0.1s;
}
.dot-bottom-middle.dice-6 {
  visibility: hidden;
}
.dot-bottom-right.dice-6 {
  display: block;
  transition: 0.1s;
}

#footer {
  font-weight: 200;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#footer > div {
  margin-bottom: 2px;
  min-width: 100px;
}

div.active {
  background-color: hsl(40, 75%, 50%);
}

div.player-info {
  width: 400px;
  border-radius: 10px 10px 0px 0px;
}

.player-info > div {
  min-width: 150px;
  padding-left: 15px;
}

.player-name-container {
  background-color: rgb(79, 93, 170);
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: white;
  font-weight: bold;
}

.dark > #footer {
  color: white;
}
