body {
  background-color: rgb(219, 212, 201);
  box-sizing: border-box;
}
.play-area {
  color: rgb(247, 245, 242);
  font-family: "Playfair Display", serif;
  font-weight: 400;
  background-color: rgb(7, 41, 54);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(7, 41, 54) 0 0 10px;
  border-radius: 5px;
}

.message {
  font-size: 3rem;
  letter-spacing: 1rem;
}

.dice-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vh;
}

.dice {
  display: flex;
  flex-direction: column;
  border-bottom: 2.5px solid black;
  border-left: 2.5px solid black;
  border-radius: 5px;
  box-shadow: black -2.5px 2.5px 5px;
  background-color: white;
  padding: 20px;
  filter: invert(100%);
}
.active {
  box-shadow: chartreuse 1px 1px 10px;
  filter: none;
}

.row-dots {
  display: flex;
  flex-direction: row;
}
.top-dots {
  margin-bottom: 5px;
}

.middle-dots {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bottom-dots {
  margin-top: 5px;
}

.dot {
  background-color: black;
  /* border: 1px solid black;  */
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.left-dot {
  margin-right: 5px;
}

.right-dot {
  margin-left: 5px;
}

.center-dot {
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
}

.dice-6 .middle-dots .center-dot {
  background-color: white;
}
.dice-5 .middle-dots .left-dot {
  background-color: white;
}
.dice-5 .middle-dots .right-dot {
  background-color: white;
}
.dice-5 .middle-dots .center-dot {
  background-color: black;
}
.dice-4 .middle-dots .dot {
  background-color: white;
}
.dice-3 .top-dots .right-dot {
  background-color: white;
}
.dice-3 .middle-dots .right-dot {
  background-color: white;
}
.dice-3 .middle-dots .left-dot {
  background-color: white;
}
.dice-3 .middle-dots .center-dot {
  background-color: black;
}
.dice-3 .bottom-dots .left-dot {
  background-color: white;
}
.dice-2 .top-dots .left-dot {
  background-color: white;
}
.dice-2 .middle-dots .dot {
  background-color: white;
}
.dice-2 .bottom-dots .right-dot {
  background-color: white;
}
.dice-1 .top-dots .dot {
  background-color: white;
}
.dice-1 .bottom-dots .dot {
  background-color: white;
}
.dice-1 .middle-dots .left-dot {
  background-color: white;
}
.dice-1 .middle-dots .right-dot {
  background-color: white;
}
.dice-1 .middle-dots .center-dot {
  background-color: black;
}
#score-section {
  display: flex;
  width: 100vh;
  justify-content: space-evenly;
}
.score {
  border: 1px solid black;
  border-radius: 5px;
  width: 25%;
  text-align: center;
}

.btn-area {
  display: flex;
  justify-content: center;
  width: 100vh;
}
.btn {
  font-size: 2rem;
  border: 2px solid black;
  padding: 1rem;
  width: 25%;
  border-radius: 5px;
  margin: 2rem;
  background-color: cadetblue;
}

.btn:hover {
  cursor: pointer;
}

.hide {
  display: none;
}
